#start {
  background-color: green;
}
#stop {
  background-color: red;
}
#reset {
  background-color: blue;
}
h1 {
  text-align: center;
}
button {
  color: black;
  width: 50px;
  height: 50px;
}
#h1 {
  text-align: center;
}
.all {
  position: relative;
  left: 45%;
  transform: translateX(-45);
}
